
@using PagedList
@using PagedList.Mvc
@using ProductStockApp.Models.Entity
@model PagedList.IPagedList<CategoriesTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach(var category in Model)
            {
                <tr>
                    <td>@category.CategoryID</td>
                    <td>@category.CategoryName</td>
                    <td><a href="/Category/DeleteCategory/@category.CategoryID" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Category/GetCategory/@category.CategoryID" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new {page})) 
<a href="/Category/NewCategory" class="btn btn-primary">Yeni Kategori</a>