
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Öğrendiklerim:</h2>
<p>
    View yazmayı, Controller yazmayı, SQLServer'dan data çekerek Model yapısını kullanmayı öğrendim.
    Html helper kullanmayı öğrendim
    tablo yapmayı, bootstrap kullanmayı öğrendim.
</p>

<h2>Öğrenmem Gerekenler</h2>
<p>
    ViewBag kullanımını pekiştirmem gerekiyor.
    AJAX bakmam gerekiyor.
    Linq kullandım ancak yeterli olduğumu düşünmüyorum. Biraz daha bakmam gerkiyor.
    Partial View ne olduğunu bile bilmiyorum, mutlaka bakmam gerekiyor.

</p>

